<div class="container mb-5">
  <h1 class="ms-3">Add Products</h1>
  <div class="col-8 justify-content-center align-self-center ">
    <form class="container" action="/admin/addproducts/add" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="itemName">Name of the Item</label>
          <input type="text" class="form-control" name="name" pattern="[A-Za-z]+" id="itemName"
            placeholder="Enter item name" required>
        </div>
        <div class="form-group col-md-6">
          <label for="price">Price</label>
          <input type="number" class="form-control" name="price" id="price" placeholder="Enter price"
            pattern="^-?\d+(?:\.\d{2})?$" required>
        </div>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select id="gender-select" name="categories">
          <option value="">Select a gender</option>
          <option value="Men">Men</option>
          <option value="Women">Women</option>
          <option value="Kids">Kids</option>
        </select>

        <select id="category-select" name="categories" disabled>
          <option value="">Select a category</option>
        </select>

        <select id="subcategory-select" name="categories" disabled>
          <option value="">Select a subcategory</option>
        </select>

        <select id="item-select" name="categories" disabled>
          <option value="">Select an item</option>
        </select>
      </div>
      <div class="form-group" id="subcategoryContainer" name="categories">
        <!-- Subcategory select boxes will be dynamically generated here -->
      </div>
      <!--             <div class="form-group">
              <label for="size">Size</label>
              <select class="form-control" name="size" id="size">
                <option value="">Select a size</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
              </select>
            </div> -->
      <div class="form-group">
        <label for="images">Images</label>
        <input type="file" class="form-control-file" name="img" id="images" multiple required>
      </div>
      <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" class="form-control" id="brand" name="brand" pattern="[A-Za-z\s\-']+"
          placeholder="Enter brand">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" pattern="[\w\s.,!?()-]+" maxlength="500"
          rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="discount">Discount (in percentage)</label>
        <input type="number" class="form-control" id="discount" name="discount"
          pattern="^(100(\.0{1,2})?|\d{1,2}(\.\d{1,2})?)$" placeholder="Enter discount percentage">
      </div>
      <button type="submit" class="btn btn-primary">Add Product</button>
  </div>
  </form>
</div>


<script src="/js/adminAddProduct.js"></script>