<div class="container mt-5">
    <div class="alert alert-danger text-center" role="alert">
      <h4 class="alert-heading">You are banned from this website</h4>
      <p class="mb-0">We're sorry, but you are not allowed to access this website.</p>
      <hr>
      <p class="mb-0">If you believe this is a mistake, please contact the website administrator.</p>
    </div>
  </div>