<div class="container jumbo">
    <div class="jumbotron">
        <h1 class="display-4 animate__animated animate__zoomIn">Congratulations!</h1>
        <p class="lead">Your order is placed.</p>
    </div>
</div>

<script src="/js/jumbotron.js"></script>